/* Root */
* {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
}

/* Styles */

header h1 {
    text-align: center;
    padding: 30px 0px 50px;
    color: #2ca58d;
    font-weight: 700;
}

main {
    display: flex;
    border-top: 2px solid #2ca58d;
}

section {
    width: 50%;
    height: 100vh;
}

.img {
    height: 100vh;
    width: 100%;
    object-fit: cover;
}

input {
    margin-left: 10px;
    padding: 7px 10px;
    border-radius: 8px;
    border: none;
    background-color: whitesmoke;
}

label,
input {
    font-size: 18px;
}

.form-container {
    border: 2px solid #2ca58d;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-section {
    padding: 80px;
    box-sizing: border-box;
}

.margin {
    margin-top: 25px;
}

.parent-margin {
    margin: 25px 0px;
}

button {
    padding: 10px 25px;
    font-size: 18px;
    border-radius: 8px;
    border: none;
    font-weight: 500;
    background-color: #363537;
    border: 1px solid #363537;
    color: white;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.fullWidth {
    width: 100%;
}

button:hover {
    background-color: white;
    color: #363537;
}

.calculation h3 {
    font-weight: 500;
    margin: 5px 0px;
}

.textFieldError{
    position: absolute;
    top: 250px;
    right: 0px;
    padding: 17px 25px;
    background-color: #363537;
    color: white;
    visibility: hidden;
}

/* Resposive */
@media screen and (max-width: 1354px) {
    .main-section {
        padding: 0px;
    }

    .form-container {
        border: none;
    }
}

@media screen and (max-width: 992px) {
    main {
        flex-direction: column;
        border: none;
    }

    section {
        width: 100%;
    }
}

@media screen and (max-width: 517px) {
    button {
        border-radius: 0px;
        width: 100%;
        margin-top: 25px;
    }

    .fullWidthP {
        visibility: hidden;
    }

    .main-section {
        padding: 0px 20px;
    }

    form {
        height: 100vh;
    }
}